$colorboto: white;
$colornegre: #000000;
$radi: 5px;
$altura: 35px;
$nodecoracio: none;




/*Color Boto Afegir Excursio. */
#botoAfegirExcursio{
	background-color: $colorboto;
	border-style: $colornegre;
	border-radius: $radi;
	color: $colornegre;
}

/*Color Boto Afegir Excursio. */
#botoVeureExcursio{
        background-color: $colorboto;
        border-style: $colornegre;
        border-radius: $radi;
        color: $colornegre;
}

/*Color Boto Cursos. */
#botoCursos{
	background-color: $colorboto;
	border-style: $colornegre;
	border-radius: $radi;
	color: $colornegre;
}

/*Color Boto modificar. */
#botoModificar{
	background-color: $colorboto;
    border-style: $colornegre;
    border-radius: $radi;
    color: $colornegre;
}

/*Color Boto Eliminar. */
#botoEliminar{
	background-color: $colorboto;
    border-style: $colornegre;
    border-radius: $radi;
    color: $colornegre;
}

#calendari{
	border-radius: $radi;
	height: $altura;
}

#bread{
	text-decoration: $nodecoracio !important;
	background-color: $colorboto !important;
	color: $colornegre !important;
}
