$colorboto: white;
$colornegre: #000000;
$radi: 5px;
$altura: 35px;




/*Color Boto Afegir Excursio Cards. */
#botoAfegirExcursio{
	background-color: $colorboto;
	border-style: $colornegre;
	border-radius: $radi;
	color: $colornegre;
}

/*Color Boto Afegir Excursio Cards. */
#botoVeureExcursio{
        background-color: $colorboto;
        border-style: $colornegre;
        border-radius: $radi;
        color: $colornegre;
}

/*Color Boto Cursos Cards. */
#botoCursos{
	background-color: $colorboto;
	border-style: $colornegre;
	border-radius: $radi;
	color: $colornegre;
}

#calendari{
	border-radius: $radi;
	height: $altura;
}
