$enmitg: center;
$fons: #F7F6C9;
$margetop: 60px;
$margebottom: 60px;
$borde: 1px solid black;


/* FORMULARI AFEGIR EXCURSIO */

#titol{
	text-align: $enmitg;
}

#contenidorExcursions{
	background-color: $fons; 
	margin-top: $margetop;
}

.form-control{
	border: $borde;
}

