$tamanyAlt: 150px;
$margeadalt: -45px;
$tamanyAmple: 200px;
$tamanyIdiomaAlt: 30px;
$tamanyIdiomaAmple: 30px;
$margeEsquerra: 60px;
$posicio: right;
$margeEsquerra1: auto;
$margeDret: 0px;
$colorFons: #ffffff;


/* CAPÇALERA*/

#logo{
	width: $tamanyAmple;
	height: $tamanyAlt;
	margin-top: $margeadalt;
}

#cat{
	width: $tamanyIdiomaAmple;
	height: $tamanyIdiomaAlt;
}

#es{
	width: $tamanyIdiomaAmple;
	height: $tamanyIdiomaAlt;
	margin-left: $margeEsquerra;
}

#idiomes{
	margin-left: $margeEsquerra1;
	margin-right: $margeDret;	
}

.navbar-toggler-icon{
	background-color: $colorFons;
}

#navbarSupportedContent{
	margin-left: $margeEsquerra1;
	margin-right: $margeDret;
}
