$enmitg: center;
$fons: #F7F6C9;
$bordes: 1px solid black;
$borde_inferior: 1px solid black;


.modal-content{
	background-color: $fons;
	border: $bordes;
}

.modal-header{
	border: $borde_inferior;
}

.modal-body{
	border: $borde_inferior;
}

.modal-footer{
	border: $borde_inferior;
}

