$colorFonsForm: #C8DDB4;
$transparencia: 0.8;
$margetop: 60px;
$margebottom: 60px;
$radi: 20px;
$borde: 1px solid black;
$margeEsquerra: auto;
$margeDret: 0px;
$enmitg: center;

/* FORMULARI AFEGIR ALUMNES */

#contenidorAlumnes{
	margin-top: $margetop;
	background-color: $colorFonsForm;
	opacity: $transparencia;
}

#form{
	margin-top: $margetop;
}

.falu{
	border-radius: $radi;
	border: $borde;
	text-align: $enmitg;
}

#bRegistre1{
	border-radius: $radi;
	margin-left: $margeEsquerra;
	margin-right: $margeDret;
}
