@charset "UTF-8";
/* CAPÇALERA*/
#logo {
  width: 200px;
  height: 150px;
  margin-top: -45px;
}

#cat {
  width: 30px;
  height: 30px;
}

#es {
  width: 30px;
  height: 30px;
  margin-left: 60px;
}

#idiomes {
  margin-left: auto;
  margin-right: 0px;
}

/* FORMULARI INICI DE SESSIO */
/* CONTRASENYA */
#co {
  margin-top: 28px;
  width: 315px;
  border-radius: 20px;
}

/* USUARI */
#us {
  width: 315px;
  border-radius: 20px;
}

#contenidorIniciSessio {
  margin-top: 60px;
  background-color: #C8DDB4;
  opacity: 0.8;
  max-width: 505px;
  text-align: center;
  height: 530px;
}

#formul {
  float: center;
  margin-top: 60px;
}

#binici {
  background-color: #9EBC82;
  height: 35px;
  width: 227px;
  margin-top: 58px;
  border-radius: 20px;
  color: black;
  text-decoration: none;
}

#bRegistre {
  height: 35px;
  width: 227px;
  margin-top: 40px;
  text-decoration: none;
  border-radius: 20px;
}

#bodyformulari {
  background-repeat: no-repeat;
  background-size: cover;
}

/* Tamanys Logo Capçalera Login Cards. */
#capçaleraBackCards {
  width: 80px;
  height: 80px;
}

/* Color Capçalera Cards. */
#colornavbar {
  background-color: #9EBC82;
}

/* Tancar Sessió */
#tancarSessio {
  text-decoration: none;
  background-color: #000000 !important;
  color: white;
  font-family: "Anton", sans-serif;
  font-size: 15px;
}

#BotoExcursions {
  background-color: white !important;
  border-color: #000000;
}

#lletrestancarSessio {
  color: white;
}

.navbar-toggler-icon {
  background-color: white;
}

#navbarSupportedContent {
  margin-left: auto;
  margin-right: 0px;
}

#row {
  width: 100%;
}

#fills {
  background-color: white !important;
  border-color: #000000;
}

/* FORMULARI AFEGIR ALUMNES */
#contenidorAlumnes {
  margin-top: 60px;
  background-color: #C8DDB4;
  opacity: 0.8;
}

#form {
  margin-top: 60px;
}

.falu {
  border-radius: 20px;
  border: 1px solid black;
  text-align: center;
}

#bRegistre1 {
  border-radius: 20px;
  margin-left: auto;
  margin-right: 0px;
}

/* Formulari Pagament */
#contenidorPagament {
  background-color: #D1D091;
  margin-top: 60px;
  margin-bottom: 60px;
}

#titol {
  text-align: center;
}

.fal {
  border-radius: 20px;
  border: 1px solid black;
}

#mes {
  float: center;
}

#any {
  float: right;
}

#titolForm {
  text-align: center;
}

#PagamentTitular {
  margin-top: 30px;
}

#cvv {
  width: 250px;
}

#tornar {
  float: right;
  margin-right: 20px;
  margin-bottom: 10px !important;
}

.text-center {
  text-align: center !important;
  border-color: black;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.card-body {
  border-top-color: lightblue;
}

a {
  color: #000000;
}

.card-title {
  margin-bottom: 0.75rem;
  background-color: white;
  border-color: black;
  border: 1px solid black;
}

.card-title {
  margin-bottom: 0.75rem;
  background-color: white;
  border-color: black;
  border: 1px solid black;
  margin-top: -10px;
}

.card-body {
  border-top-color: lightblue;
  background-color: #7B9895;
}

.btn-secondary {
  color: #000000;
  background-color: #FFFFFF;
  border-color: #000000;
  margin-top: 20px;
}

.card-img, .card-img-top {
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #7B9895;
}

.imatge {
  float: left;
}

#titolExcursio {
  text-align: center;
}

#colorfooter {
  background-color: #9EBC82;
}

#copy {
  text-decoration: none;
  color: #000000;
  text-align: center !important;
  margin-right: 0px;
}

/*# sourceMappingURL=fullestil1.css.map */
