$tamanyAlt: 80px; 
$tamanyAmple: 80px; 
$color: #9EBC82; 
$colorboto: white; 
$colornegre: #000000; 
$no: none; $font: 'Anton', sans-serif; 
$alineat : center; 
$margeEsquerra1: auto; 
$margeDret: 0px; 
$tamanylletra: 15px;
$amplada: 100%;

/* Tamanys Logo Capçalera Login Cards. */
#capçaleraBackCards{
	width: $tamanyAmple;
	height: $tamanyAlt;
}

/* Color Capçalera Cards. */
#colornavbar{
	background-color: $color;
}

/* Link de les excursions */
#linkExcursions{
	text-decoration: $no;
	color: $colornegre;
	font-family: $font;
	text-align: $alineat;
	font-size: $tamanylletra;
}

/* Mostrar Professors */
#mostrarProfessor{
	text-decoration: $no;
	color: $colornegre;
	font-family: $font;
	font-size: $tamanylletra;
}

/* Mostrar Alumnes */
#mostrarAlumnes{
	text-decoration: $no;
	color: $colornegre;
	font-family: $font;
	font-size: $tamanylletra;
}

/* Mostrar Usuaris */
#mostrarUsuaris{
        text-decoration: $no;
        color: $colornegre;
        font-family: $font;
        font-size: $tamanylletra;
}

/* Mostrar Pagos */
#mostrarPagos{
	text-decoration: $no;
	color: $colornegre;
	font-family: $font;
	font-size: $tamanylletra;
}

/* Tancar Sessió */
#tancarSessio{
	text-decoration: $no;
	color: $colornegre;
	font-family: $font;
	font-size: $tamanylletra;
}

.navbar-toggler-icon{
	background-color: $colorboto;
}

#navbarSupportedContent{
	margin-left: $margeEsquerra1;
	margin-right: $margeDret;
}

#row{
	width: $amplada;
}