$colorboto: white;
$colornegre: #000000;
$radi: 5px;
$margeEsquerra: 120px;




/*Color Boto Afegir Excursio Cards. */
#botoAfegirExcursio{
	background-color: $colorboto;
	border-style: $colornegre;
	border-radius: $radi;
	color: $colornegre;
	margin-left: $margeEsquerra;
}

/*Color Boto Cursos Cards. */
#botoCursos{
	background-color: $colorboto;
	border-style: $colornegre;
	border-radius: $radi;
	color: $colornegre;
}